@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Skjutserien kan inte visas.</h1>
<h2 class="text-danger">Tyvärr kan inte detaljer för den valda skjutserien visas just nu.</h2>


<h3><a href="@Url.Action("Analyze", "Home")">Tillbaka</a></h3>



