@model ForgotPasswordViewModel

<h1>Bekräftelse glömt lösenord</h1>

<p>
    Länken har skickats, kolla i din email för att återställa ditt lösenord.
</p>

<a href="@Html.DisplayFor(model => model.Link)">Återställ lösenord</a>